.header_search_form {
    width: 100%!important;
}
.header_search_content {
    width: 300px!important;
}
.search_input{
  border: 2px solid #dddddd;  
}

.m-tb-110{
  margin-top: 110px;
  margin-bottom: 110px;
}

.zone-search{
  margin-top: -200px;
}
.btn-search{
  margin: 10px!important;
}
.group-btn-search{
  border: 1px solid red;
  background-color: aliceblue!important;
}

